.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;

}

.header__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    align-items: center;

    img {
        padding-right: 0.5rem;

    }

}

.navbar {
    color: white;

    ul {
        display: flex;

        li {
            padding-left: 3rem
        }
    }

    @media (max-width: $tablet) {
        display: none;
    }
}

.link::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: $primary;
    transition: linear .3s;
}

.link:hover::after {
    width: 100%;
    transition: linear .3s;
}



.burger {
    display: none;
    cursor: pointer;

    li {
        width: 25px;
        height: 2px;
        background-color: white;
        margin-top: 0.3rem;
        transition: .4s ease-in-out;



        &:nth-child(2n+2) {
            width: 15px;
        }

        &:nth-child(2n+3) {
            width: 10px;
        }
    }

    &:hover {


        li {
            &:nth-child(2n+2) {
                width: 25px;
            }

            &:nth-child(2n+3) {
                width: 25px;
            }
        }
    }

    @media (max-width: $tablet) {
        display: block;
    }
}



.header__content {
    display: flex;
    max-width: 100%;
    margin-bottom: 10rem;
    flex-grow: 3;
    align-items: center;

    @media (max-width: $mobile) {
        margin-top: 3rem;
        margin-bottom: 0;
        align-items: unset;
    }
}

.header__info {
    width: 50%;
    max-width: 100%;

    @media (max-width: $mobile) {
        width: 100%;
    }
}

.header__title {
    font-size: 5rem;
    color: $primary;

    span {
        color: $secondary;
    }

    @media (max-width: $tablet) {
        font-size: 4rem;
    }

    @media (max-width: $mobile) {
        font-size: 3rem;
    }
}

.header__text {
    font-size: 1.5rem;
    margin: 2rem 0;
    color: $secondary;

    @media (max-width: $tablet) {
        font-size: 1rem;
    }
}

.header__btn {
    padding: 0.8rem 2.6rem;
    background-color: transparent;
    border: 2px solid black;
    color: white;
    border-radius: 1.4rem;
    cursor: pointer;
    background: linear-gradient(to top, #fff 50%, transparent 50%);
    background-size: 100% 200%;
    transition: all .2s ease-out;
    outline: none;

    &:hover {
        background-position: bottom left;
        color: black;
        transition: .2s linear;
        border: 2px solid #fff;
    }
}

.header__img {
    width: 25%;
    position: absolute;
    top: 20%;
    right: 15%;
    transform-style: preserve-3d;
    transform: perspective(1000px);

    @media (max-width: $per_tablet) {
        width: 30%;
        top: 25%;
    }

    @media (max-width: $mobile) {
        display: none
    }
}


.header__social {
    display: flex;
    justify-content: flex-end;
    color: $secondary;

    ul {
        display: flex;

        a {
            padding-right: 2rem;
            margin-bottom: 2rem;

            @media (max-width: $mobile) {
                padding-right: 1rem;
            }

            &:hover {
                transition: ease-in-out .2s;
                filter: brightness(2);
            }
        }
    }
}