.header {
    background: radial-gradient(circle at center, #1f2630 0%, #161c26 100%);

}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.header__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    align-items: center;
}

.navbar {
    color: white;

    ul {
        display: flex;

        li {
            padding-left: 3rem
        }
    }
}

.burger {
    cursor: pointer;

    li {
        width: 25px;
        height: 2px;
        background-color: white;
        margin-top: 0.3rem;
        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

        &:nth-child(2n+2) {
            width: 15px;
        }

        &:nth-child(2n+3) {
            width: 10px;
        }
    }

    &:hover {
        li {
            &:nth-child(2n+2) {
                width: 25px;
            }

            &:nth-child(2n+3) {
                width: 25px;
            }
        }
    }
}



.header__content {
    display: flex;
    max-width: 100%;
    padding: 0 2rem;
    margin-top: 4rem;
    flex-grow: 3;
    align-items: center;
    margin-bottom: 19rem;
}

.header__info {
    width: 50%;
    max-width: 100%;
}

.header__title {
    font-size: 5rem;
}

.header__text {
    font-size: 1.5rem;
    margin: 2rem 0;
}

.header__btn {
    padding: 0.8rem 2.6rem;
    background-color: transparent;
    border: 2px solid black;
    color: white;
    border-radius: 1.4rem;
    cursor: pointer;
}

.header__img {
    width: 25%;
    position: absolute;
    top: 20%;
    right: 15%;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}


.header__social {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 3rem;

    ul {
        display: flex;

        li {
            padding-right: 3rem;
        }
    }
}